.history-section {
    margin-bottom: 200px;
    scale: 0.9;
    
    .title {
        color: var(--white);
        font-family: "Broken Detroit";
        font-size: 96px;
        font-style: normal;
        text-align: center;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 9px;
        margin-bottom: 150px;

        .colored {
            color: var(--violet);
        }
    }

    .history-list {
        display: flex;
        flex-flow: wrap;

        & > * {
            flex-basis: 100%;
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        & :nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}
