.character-section {
    margin-bottom: 200px;
    scale: 0.8 ;
    .title {
        color: var(--white);
        font-family: "Broken Detroit";
        font-size: 96px;
        font-style: normal;
        text-align: center;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 9px;
        margin-bottom: 150px;

        .colored {
            color: var(--violet);
        }
    }

    .character-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 95px;
        place-items: center;
        align-items: baseline;
        grid-template-rows: repeat(2, 1fr);
    }
}
