@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap");
@import url('https://fonts.cdnfonts.com/css/broken-detroit');

:root {
    --bg-color: #131313;
    --violet: #99449f;
    --white: #ffffff;
    --card-color-healer: #d616a1;
    --card-color-hunter: #4d098c;
    --card-color-shadow: #590e7b;
    --card-color-pirate: #c300e3;
    --card-color-arrow: #ff4aff;
    --card-color-ghost: #7b149e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.site-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #131313;
        --violet: #99449f;
        --white: #ffffff;
        --card-color-healer: #d616a1;
        --card-color-hunter: #4d098c;
        --card-color-shadow: #590e7b;
        --card-color-pirate: #c300e3;
        --card-color-arrow: #ff4aff;
        --card-color-ghost: #7b149e;
    }
}